/* Use Atkinson hyperlegible as the font by default */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1 > a {
    text-decoration-line: none;
    color: var(--text);
}

h1 > a:visited {
    text-decoration-line: none;
    color: var(--text);
}

:root {
    --accent: #FE562D;
    --accent-bg: #FFE6DF;
}

@media (prefers-color-scheme:dark) {
    :root {
        --accent-bg: #201E40;
    }
}
